.comment-textarea{
    width: 95%;
    height: 5rem;
    border-radius: 1rem;
    overflow-y: auto;
    font-size: 1rem;
    padding: 0.2rem;
    margin-bottom:2rem;
}

.issue-description{
    font-size: 1.5rem;
    font-weight: bold;
}

.author-nickname{
    color: rgb(97, 34, 34);
    letter-spacing: .1rem;
}

.comments-caption{
    font-size: 1.8rem;
    font-weight: bold;
}

.form{
    display:flex;
    flex-direction: column;
}

.post-button{
    margin-bottom:2rem;
    width: 11rem;
    height: 3rem;
    font-size: 1.4rem;
    align-self: flex-end;
    font-weight: bold;
    border-radius: 1rem;
    background-color: gray;
    color:var(--text-color);
}

.post-button:hover{
    background-color: rgb(27, 27, 27);
}