@media screen and (max-width: 767px) {
    .errorSect{
        width: 100%;
        height: 4rem;
        color:var(--text-color);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .errorSect .errBig{
        font-size: 2rem;
    }
    .errorSect .errSmall{
        font-size: 1rem;
    }
}